<!DOCTYPE html>
<html lang="en">
    <header>
        <nav>
            {% if user.is_authenticated %}
                Hello, {{user.username}}
            {% else %}
                <a>href="{% url 'signup' %}">Sign Up</a>
            {% endif %}
        </nav>
    </header>
</html>
